* 
{
    font-family: monospace;
    -webkit-app-region: drag;
}

html
{
    height: 100%;
    overflow: hidden;
}

body	
{
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    font-size: 12px;
    color: #3B3738;
	background-color: #C63D0F;
    height: 100%;
}

h1 
{
    background-color: #FDF3E7;
    box-shadow: 2px 3px 3px rgba(0,0,0,.5);
    border-radius: 4px;
    padding: 10px;
}

.button
{
    border-top: 2px solid #FDF3E7;
    border-left: 2px solid #FDF3E7;
    border-right: 2px solid #F4B971;
    border-bottom: 2px solid #F4B971;
    padding: 5px 20px;
    font-size: 15px;
    background-color: #7E8F7C;
	-webkit-app-region: no-drag;
}

.InfoBox 
{
    font-size: 15px;
    font-weight: bold;
}

.container
{
    width: 100%;
    border-spacing: 1em;
}

.container input
{
    width: 50%;
}

.pageHeader 
{
    display: inline-block; 
    width: 80%;
}

.WebView 
{
    display: flex;
    height: 70%;
    margin: 10px;
    -webkit-app-region: no-drag;
}

.TextInput
{
    display: flex; 
    margin: auto;
    border-radius: 4px;
    padding: 5px 20px;
    border-top: 2px solid #FDF3E7;
    border-left: 2px solid #FDF3E7;
    border-right: 2px solid #F4B971;
    border-bottom: 2px solid #F4B971;
    width:80%;
    -webkit-app-region: no-drag;
}

.audioplayer {
    -webkit-app-region: no-drag;
}

.flexContainer {
    display: flex;

    justify-content: space-between;


    align-items: stretch;
}

.checkbox {
    -webkit-app-region: no-drag;
}

.tableContainer {
    margin-left: auto;
    margin-right: auto;
}

.MachineLearningTable {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.NumericalInput {
    border-radius: 4px;
    padding: 5px 20px;
    border-top: 2px solid #FDF3E7;
    border-left: 2px solid #FDF3E7;
    border-right: 2px solid #F4B971;
    border-bottom: 2px solid #F4B971;
    -webkit-app-region: no-drag;
}
